.ue-dialog {
  left: 0;
  top: 0;
  /*outline: none;*/
  background: #fff;
  border: 1px solid #999;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.ue-dialog-close {
  position: absolute;
  z-index: 9;
  right: 15px;
  top: 15px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  text-decoration: none;
}
.ue-dialog-close:hover {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  cursor: pointer;
}
.ue-dialog-head {
  cursor: default;
  min-height: 16.428571429px;
  padding: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  border-bottom: 1px solid #e5e5e5;
}
.ue-dialog-body {
  position: relative;
  padding: 20px;
}
.ue-dialog-foot {
  padding: 19px 20px 20px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.ue-dialog-foot:empty {
  display: none;
}
.ue-dialog-foot a {
  margin: 0 6px;
}
