.ui-dialog-blocker {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.ui-dialog {
  left: 0;
  top: 0;
  outline: none;
  background: #fff;
  border: 1px solid #999;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.ui-dialog-active {
  border-color: #adadad;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
}
.ui-dialog-close {
  position: absolute;
  z-index: 9;
  right: 15px;
  top: 15px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  text-decoration: none;
}
.ui-dialog-close:hover {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  cursor: pointer;
}
.ui-dialog-loading {
  /*display: none;*/
  position: absolute;
  z-index: 8;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5) url('data:image/gif;base64,R0lGODlhEAAQAKIGAMLY8YSx5HOm4Mjc88/g9Ofw+v///wAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCgAGACwAAAAAEAAQAAADMGi6RbUwGjKIXCAA016PgRBElAVlG/RdLOO0X9nK61W39qvqiwz5Ls/rRqrggsdkAgAh+QQFCgAGACwCAAAABwAFAAADD2hqELAmiFBIYY4MAutdCQAh+QQFCgAGACwGAAAABwAFAAADD1hU1kaDOKMYCGAGEeYFCQAh+QQFCgAGACwKAAIABQAHAAADEFhUZjSkKdZqBQG0IELDQAIAIfkEBQoABgAsCgAGAAUABwAAAxBoVlRKgyjmlAIBqCDCzUoCACH5BAUKAAYALAYACgAHAAUAAAMPaGpFtYYMAgJgLogA610JACH5BAUKAAYALAIACgAHAAUAAAMPCAHWFiI4o1ghZZJB5i0JACH5BAUKAAYALAAABgAFAAcAAAMQCAFmIaEp1motpDQySMNFAgA7') no-repeat 50% 50%;
}
.ui-dialog-head {
  cursor: default;
  min-height: 16.428571429px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.ui-dialog-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}
.ui-dialog-body {
  position: relative;
  padding: 20px;
}
.ui-dialog-notitle .ui-dialog-body {
  padding: 28px;
}
.ui-prompt-title,
.ui-prompt-content {
  text-align: left;
}
.ui-prompt-input {
  display: block;
  margin: 0;
  padding: 0 4px;
  border: 1px solid #808080;
  height: 24px;
  line-height: 24px;
}
.ui-dialog-foot {
  padding: 19px 20px 20px;
  margin-top: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.ui-dialog-foot:empty {
  display: none;
}
.ui-dialog-button {
  margin: 0 6px;
}
.ui-draggable {
  cursor: move;
}
.ui-draggable a,
.ui-draggable p,
.ui-draggable div,
.ui-draggable span,
.ui-draggable em,
.ui-draggable i {
  cursor: move;
}
